@model TaskBAS.ViewModels.BaseViewModel
@{
    ViewData["Title"] = "Task BAS";
}

<div>
	<h4>All employees</h4>
	@foreach(var emp in Model.All)
	{
	   <div>@emp.Id - @emp.Name - @emp.AvarageSalary</div>
	}
</div>

<hr />

<div>
    <h4>First five</h4>
    @foreach(var emp in Model.FirstFive)
	{
	   <div>@emp</div>
	}
</div>

<hr />

<div>
    <h4>Last three</h4>
    @foreach(var emp in Model.LastThree)
	{
	   <div>@emp</div>
	}
</div>


